<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" processIsolation="false" stopOnFailure="false" bootstrap="./tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <exclude>
      <file>src/Identifier/Ldap/ExtensionAdapter.php</file>
    </exclude>
    <report>
      <html outputDirectory="./tmp/tests/report" lowUpperBound="35" highLowerBound="70"/>
    </report>
  </coverage>
  <php>
    <ini name="memory_limit" value="-1"/>
    <ini name="apc.enable_cli" value="1"/>
  </php>
  <!-- Add any additional test suites you want to run here -->
  <testsuites>
    <testsuite name="authentication">
      <directory>tests/TestCase/</directory>
    </testsuite>
    <!-- Add plugin test suites here. -->
  </testsuites>
  <logging>
    <!--<log type="coverage-clover" target="./tmp/tests/coverage.xml"/>-->
    <!--<log type="coverage-php" target="/tmp/coverage.serialized"/>-->
    <!--<log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>-->
    <!--<log type="json" target="/tmp/logfile.json"/>-->
    <!--<log type="tap" target="/tmp/logfile.tap"/>-->
    <!--<log type="junit" target="/tmp/logfile.xml" logIncompleteSkipped="false"/>-->
    <!--<log type="testdox-html" target=".//tmp/tests/testdox.html"/>-->
    <!--<log type="testdox-text" target=".//tmp/tests/testdox.txt"/>-->
  </logging>
</phpunit>
